<div class="row">
  <div class="col-12">
    <div class="row my-5">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="font-weight-bold">Billing Address</div>
            <app-address-form [typeOfAddress]=" 'billing' "
                              (billingAddress)="getBillingAddress($event)" ></app-address-form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="font-weight-bold">Shipping Address</div>
            <app-address-form [typeOfAddress]=" 'shipping' "
                              (shippingAddress)="getShippingAddress($event)"></app-address-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <app-product-form (products)="getProducts($event)" ></app-product-form>
      </div>
    </div>
  </div>
  <div class="col-12 my-5">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary btn-lg" (click)="savebtn()">Save</button>
    </div>
  </div>
</div>
